.img-container {
  display: flex;
  height: 8rem;

  :is(img) {
    flex: 1;
    object-fit: cover;
  }


}

.content {
  overflow-x: hidden;
  padding-top: 152px;
}

.event-component {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 25px;
}


h2 {
  color: #363636;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 26px 0 0 26px;
  margin-block-end: 0px;
}

.posts-base {
  margin: 50px 20px auto auto;
  width: min(max(50%, 400px), 666px);
  border-radius: 6px;
  background: rgba(238, 238, 238, 0.82);
}

.result-base {
  display: grid;
  grid-auto-flow: row;
  width: 90%;
  border-radius: 5px;
  column-gap: 25px;
  row-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 280px));
  margin: 5% auto 10% auto;
  justify-content: center;
}

.upcoming-events {
  margin: 50px auto auto 20px;
  width: min(max(25%, 250px), 340px);
  border-radius: 6px;
  background-color: #f5f5f5;
}

.upcoming-events :host ::ng-deep h2 {
  color: rgba(0, 0, 0, 0.74);
  font-size: 26px;
  font-weight: 400;
}

.upcoming-events h3 {
  color: #000;
  font-size: 16px;
  font-weight: 200;
  margin: 20px 0 20px 30px;
}

.group-by-month {
  width: 85%;
  margin: 0px 0 15px 10%;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.create-event-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 4rem;
  height: 4rem;
}
