.content {
  width: 100%;
  height: 100%;
}


.allposts {
  position: absolute;
  top: 210px;
  left: 180px;
  width: 188px;
  height: 53px;
  background: rgba(255, 255, 255, 0.68);
}


.event-component {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
    
}

heading.p {
 
}

h2 {
  color: #363636;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 26px 0 0 26px;
}

.posts-base {
  margin: 137px 20px auto auto;
  width: min(max(50%, 400px), 666px);
  background-color: #F5F5F5;
}

.result-base {
  display: grid;
  grid-auto-flow: row;
  width: 90%;
  border-radius: 5px;
  column-gap: 25px;
  row-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 280px));
  margin: 10% auto 10% auto;
  justify-content: center;}

  .upcoming-events {
    margin: 137px auto auto 20px;
    width: min(max(25%, 250px), 340px);
    border-radius: 6px;
    background: rgba(238, 238, 238, 0.82);
  }
