.event-component {
  display: flex;
  align-items: center;
  color: #363636;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-top: 108px; /* 108px is the height of the navbar */
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

.posts.base {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

.result-base {
  display: grid;
  grid-auto-flow: row;
  width: 800px;
  column-gap: 7px;
  row-gap: 7px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 350px));
  justify-content: space-around;
}
