<section class="posting">
    <div style="display: flex; flex-direction: row;">
        <div class="date">
            <p style="margin-top: 21px;">{{ this.date["month"] }}</p>
            <p class="day">{{ this.date["day"] }}</p>
          </div>

          <div class="heading">
            
            <div class="tags">
              <div *ngFor="let tag of visibleTags" class="tag" [ngClass]="tag">{{ tag }}</div>
              <div *ngIf="hasRemainingTags" class="tag-ellipsis">...</div>
            </div>
            
            <p class="posting-heading">{{ post.title }}</p>
            <p class="posting-location">{{ post.location }}</p>
            <small *ngIf="post.startDate">{{ this.date["time"] }}</small>
          </div>
    </div>
</section>
