/* darkening overlay for when modals pop up */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 2;
  opacity: 0.25;
}

.view-post-modal {
  position: fixed;
  min-width: 35rem;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--gray-000);
  border-radius: 1rem;
  padding: 2rem;
  z-index: 3;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  color: black;
}

.view-post-title-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: top;
}

.title-container {
  display: flex;
  justify-content: space-between;
  row-gap: 1em;
}

/* Tag Styling */
.tags {
  display: flex;
  flex-direction: row;
  margin: 0 10px 5px 0;
}

.tag {
  height: 25px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 20px;
  text-align: center;
  margin-block-start: 2px;
  margin-right: 3px;
  color: white;
  padding-top: 5px;
}

.Academic {
  width: 80px;
  background-color: darkred;
}

.Social {
  width: 80px;
  background-color: darkcyan;
}

.Online {
  width: 80px;
  background-color: darkolivegreen;
}

.In-Person {
  width: 90px;
  background-color: darkgoldenrod;
}

.Entertainment {
  width: 120px;
  background-color: darkorchid;
}

.pin {
  margin-left: 15px;
  margin-top: 1px;
  border-radius: 0.375rem;
  padding: 4px 2px 2px 2px;
  transition: background-color 0.3s ease; /* Smooth transition for the background color */
}
.pin:hover {
  background-color: #f4f4f5; /* Set the background color on hover */
  cursor: pointer;
}

.view-post-title {
  margin: 0.5rem;
  color: black;
  margin-bottom: 1rem;
  font-size: 1.5em;
  line-height: 2rem;
  font-weight: 400;
}
.post-author {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray-500);
}

.field-label {
  margin: 0 0.5rem;
  font-weight: 400;
}

input {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  border: 1px solid #676767;
  outline: none;
}

.textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 1rem;
  max-height: 10rem;
  margin: 1rem 0 1rem 0;
  color: #676767;
  font-size: 17px;
}

.view-post-important-row {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  font-weight: 300;
  font-size: 16px;
}

.important-row-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.important-row-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.data-field {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}


.row-labels {
  display: flex;
  align-items: center;
  width: 100%;
}


.important-row-image {
  flex: 1;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.scheduled {
  /* Styles for the 'scheduled' status */
  color: green; /* Change the color as needed */
}

.ongoing {
  /* Styles for the 'ongoing' status */
  color: blue; /* Change the color as needed */
}

.cancelled {
  /* Styles for the 'cancelled' status */
  color: red; /* Change the color as needed */
}

.delayed {
  /* Styles for the 'delayed' status */
  color: orange; /* Change the color as needed */
}


.view-post-button-row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: 1.5rem;
}

button {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
}

button.submit {
  margin-right: 0;
  width: 10rem;
  background-color: black;
  border: 2px solid black;
}

button.submit:hover {
  background-color: rgb(47, 47, 47);
  border: 2px solid rgb(47, 47, 47);
}

button.submit:active {
  background-color: rgb(60, 60, 60);
  border: 2px solid rgb(60, 60, 60);
}

button.cancel {
  font-family: var(--inter-font);
  color: black;
  border: 2px solid black;
  background: none;
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  margin: 1rem;
  margin-bottom: 0;
  width: 10rem;
  align-self: center;
}

button.cancel:hover {
  background-color: var(--gray-100);
}

button.cancel:active {
  background-color: var(--gray-300);
}

.close-button {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .view-post-modal {
    min-width: 0;
    width: 90vw;
    max-height: 90vh;
    left: 5%;
    top: 5%;
    transform: translate(0, 0);
    box-sizing: border-box;
    overflow-y: scroll;
  }

}

@media screen and (max-width: 575.98px) {
  .view-post-modal {
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    left: 0;
    top: 0;
    border-radius: 0;
    box-sizing: border-box;
    overflow-y: scroll;
  }

  .close-button {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray-500);
    cursor: pointer;
  }
}
