<div
  class="overlay"
  @overlayToggle
  *ngIf="showViewPost"
  (click)="closeShowPost()"
  [style.pointer-events]="showViewPost ? 'auto' : 'none'"
></div>

<div class="view-post-modal" @modalToggle *ngIf="showViewPost">
  <div class="view-post-title-row">
    <h1 class="view-post-title">{{ this.post.title }}</h1>
    <div class="">{{ this.post.author!.name }}</div>
  </div>
  <!-- Post content-body start -->
  <div class="view-post-important-row">
    <div class="important-row-left">
      <p class="field-label">Timeline</p>
      <p class="data-field">
        {{ startDate["month"] }} {{ startDate["day"] }} {{ startDate["year"] }}-
        {{ endDate["month"] }} {{ endDate["day"] }} {{ endDate["year"] }}
      </p>
      <p class="field-label">Location</p>
      <p class="data-field">
        {{ this.post.location }}
      </p>
      <p class="field-label">Status</p>
      <p class="data-field">
        {{ this.post.status }}
      </p>
    </div>
    <div class="important-row-right">
      <img
        class="important-row-image"
        src="../../../../../../../assets/images/event-img-placeholder.jpg"
      />
      <div>{{ this.post.tags }}</div>
    </div>
  </div>
  <div class="textarea">
    <p class="field-label">Description</p>
    <p class="data-field">{{ this.post.description }}</p>
  </div>
  <div class="view-post-button-row">
    <button class="cancel" type="button" (click)="closeShowPost()">
      Cancel
    </button>
    @if(currentUserEmail === this.post.author?.email?.toLowerCase()) {
    <button class="submit" type="submit" (click)="editPost(this.post._id!)">
      Edit
    </button>
    <button class="submit" type="submit" (click)="deletePost(this.post._id!)">
      Delete
    </button>

    }
  </div>
</div>
