<section mat-raised-button (click)="showPost()" class="posting">
  <img
    class="posting-photo"
    src="../../../../../assets/images/image 4.svg"
    alt="Photo of {{ post.title }}"
  />
  <div style="display: flex; flex-direction: row">
    <div class="date">
      <p style="margin-top: 21px">{{ this.date["month"] }}</p>
      <p class="day">{{ this.date["day"] }}</p>
    </div>
    <div class="heading">
      <p class="posting-heading">{{ post.title }}</p>
      <p class="posting-location">{{ post.location }}</p>
      <small *ngIf="post.startDate">{{ this.date["time"] }}</small>
    </div>
  </div>
</section>
<app-post-item-details
  [post]="post"
  [date]="this.date"
  [(showViewPost)]="showPostOpen"
></app-post-item-details>
