.nav-bar {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 99;
  height: 70px;
  padding: 15px 15px 6px 15px;
  border-bottom: solid;
  border-bottom-width: 1.5px;
  border-color: #e5e7eb;
  background-color: #fff;
  overflow: hidden;
}

.nav-bar.is-authenticated {
  height: 130px;
}

.mcgill {
  width: 53px;
  height: 65px;
  margin: 35px 0 0 12px;
}

.menu-icon {
  display: none; /* Initially hide the hamburger menu on larger screens */
  cursor: pointer;
  top: 15px;
  left: 15px;
}

.menu-icon div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}


/* Styles for the menu icon when menu is open */
 .menu-icon.open div:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 8px);
}

.menu-icon.open div:nth-child(2) {
  opacity: 0;
}

.menu-icon.open div:nth-child(3) {
  transform: rotate(45deg) translate(-4px, -8px);
}

.menu {
  display: none;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  border-bottom: 1.5px solid #e5e7eb;
  z-index: 999;
}

.menu a {
  padding: 14px 8px;
  text-decoration: none;
  color: #000;
}


.nav-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 4px 0;
  font-size: 18px;
  margin: 20px -15px 0 -15px;
}

.app-header {
  display: flex;
  row-gap: 0px;
  height: 55px;
  border-color: #e5e7eb;
  align-items: center;

  :is(h2) {
    margin: 41px 0 0 18px;
    font-weight: 290;
    font-size: 33px;
    color: #000;
    text-transform: capitalize;
  }
}

p {
  margin-block-end: 10px;
  margin-block-start: 0px;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-transform: capitalize;
  margin-left: 19px;
}

.nav-a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
}

:host ::ng-deep .nav-options a {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  float: left;
  color: #000;
  text-align: center;
  padding: 30px 8px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  border-bottom: 1px solid #CBCBCB;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02) 0%, rgba(238, 238, 238, 0.01) 22.4%, rgba(230, 230, 230, 0.00) 55.21%, rgba(222, 222, 222, 0.92) 86.98%, #CFCFCF 100%);
}

a[aria-selected="true"] {
  background-color: #ddd;
  border-bottom: 1px solid #CBCBCB;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6) !important;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02) 0%, rgba(238, 238, 238, 0.01) 22.4%, rgba(230, 230, 230, 0.00) 55.21%, rgba(222, 222, 222, 0.92) 86.98%, #CFCFCF 100%);
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a {
  padding: 1rem;
  display: inline-block;
}


.menu {
  position: absolute;
  z-index: 1;
  background: whitesmoke;
  flex-direction: column;
  display: none;
}

.menu-container:hover .menu {
  display: block;
  border-bottom: 1px solid #CBCBCB;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02) 0%, rgba(238, 238, 238, 0.01) 22.4%, rgba(230, 230, 230, 0.00) 55.21%, rgba(222, 222, 222, 0.92) 86.98%, #CFCFCF 100%);
}
.menu a {
  width: 100%;
  min-width: 8rem;
}

@media screen and (max-width: 575.98px) {

  .app-header {
    margin: 0rem 0 0 15%;
    transform: scale(0.8);
  }

  .mcgill {
    margin-bottom: 10px; 
  }

  .nav-bar.is-authenticated {
    height: 100px;
    border: none;
  }

  .nav-bar.open {
    height: 400px;
  }

  .nav-options {
    display: none;
  }

  .nav-a {
    margin-right: 10px; /* Adjust the margin as needed */
  }

  .menu-icon.is-authenticated {
    display: block; /* Show the hamburger menu on smaller screens */
    position: absolute;
    
  }

  .menu.open {
    display: flex; /* Show the menu when it's open */
  }

  .mat-tab-link {
    /* Hide the arrow icons */
    .mat-tab-label-arrow {
      display: none;
    }
  }
  
}
