<div class="nav-bar" [ngStyle]="this.isAuth ? { height: '130px' } : null">
  <div
    class="app-header"
    [ngStyle]="this.isAuth ? { marginBottom: '0' } : null"
  >
    <img
      routerLink="/"
      class="mcgill"
      src="assets/images/mcgill-logo.svg"
      alt="logo"
    />
    <div>
      <h2>McEvent Finder</h2>
      <p>Where all events come to reality</p>
    </div>
  </div>
  <nav class="nav-options" mat-tab-nav-bar [tabPanel]="tabPanel">
    @if (this.isAuth) {
    <a
      class="nav-a"
      mat-tab-link
      *ngFor="let link of links"
      [routerLink]="link.link"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ link.label }}
    </a>
    <a mat-tab-link (click)="logout()">Logout</a>
    <a mat-tab-link>{{ this.name }}</a>

    }
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>

<!-- <div class="nav-options">
    <a routerLink="/posts">All Posts</a>
    <a (click)="FilterByEmail()">My Posts</a>
    <a routerLink="#">Create a Post</a>
    <a (click)="logout()">logout</a>
    <a href=""> {{ this.name }} </a> -->
<!-- <ul>
      <li class="menu-container">
        <a routerLink="/dashboard">John<a>
        <div class="menu">
          <a routerLink="#contact">Profile</a>
          <a routerLink="#contact">Settings</a>
          <a (click)="logout()">Logout</a>
        </div>
      </li>
    </ul> -->
<!-- </div> -->
