/* You can add global styles to this file, and also import other style files */

/* some variables */
:root {
  --inter-font: 'Inter', sans-serif;
  --inter-tight-font: 'Inter Tight', sans-serif;
  --black: #000;
  --gray-500: #4F4F4F;
  --gray-300: #C7C7C7;
  --gray-100: #EEE;
  --gray-000: #FFF; /* white atm */
  --signature-red: #AA4B4B;
  --signature-red-light: #B96E6E;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--inter-font);
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-300);
  height: 100%;
}

button.submit {
  font-family: var(--inter-font);
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-000);
  background: var(--signature-red-light);
  border-radius: .5rem;
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
  margin: 1rem;
  width: 50%;
  align-self: center;
}

button:hover {
  background: var(--signature-red);
}

button:active {
  background: #8a2a2a;
}

button:disabled {
  background: rgba(144, 112, 112, 0.5);
}

input {
  box-sizing: border-box;
  font-family: var(--inter-font);
  font-size: 1rem;
  font-weight: 500;
  border-radius: .5rem;
  border: 1px solid var(--gray-300);
  /* add some drop shadow */
  padding: 0.6rem;
  margin: 0.5rem;
}

textarea {
  box-sizing: border-box;
  font-family: var(--inter-font);
  font-size: 1rem;
  font-weight: 500;
  border-radius: .5rem;
  border: 1px solid var(--gray-300);
  /* add some drop shadow */
  padding: 0.6rem;
  margin: 0.5rem;
}
