<div class="login-container">
  <div class="login-box">
    <h2>Log into your account</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p class="field-label">Email</p>
      <div class="field">
        <input id="email" type="text" formControlName="email" class="input">
      </div>

      <p class="field-label">Password</p>
      <div class="field">
        <input id="password" type="password" formControlName="password" class="input" />
      </div>

      <button type="submit" class="submit">Log In</button>
      <!-- <div *ngIf="error" class="alert alert-danger">{{ error }}</div> -->
    </form>

    <div class="links">
      <a href="/register">create account</a>
      <a href="/forgot-password">forgot password</a>
    </div>
  </div>
</div>


