<div class="login-container">
  <div class="login-box">
    <h2>Register</h2>
    <p>Please fill out all the fields</p>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <p class="field-label">Name</p>
      <input type="text" formControlName="name" class="input" />
      <p class="error" [style.visibility]="hasErrors && registerForm.value.name == '' ? '' : 'hidden'">
        <i class="fa-solid fa-triangle-exclamation"></i> Name is required
      </p>

      <p class="field-label">Email</p>
      <input type="text" formControlName="email" class="input" (focusout)="emailCheck()"/>
      <!-- forgive me y'all these error messages gettin kinda ugly lmao -->
      <div class="error" [style.visibility]="emailWarning ? '' : 'hidden'">
        <p *ngIf="registerForm.value.email == ''">
          <i class="fa-solid fa-triangle-exclamation"></i> Email is required
        </p>
        <p *ngIf="registerForm.value.email != ''">
          <i class="fa-solid fa-triangle-exclamation"></i> Please enter a valid email
        </p>
      </div>


      <p class="field-label">Password</p>
      <input
        type="password"
        formControlName="password"
        class="input"
        (input)="passwordCheck()"
        (focusout)="passwordCheck()"
      />
      <div class="error" [style.visibility]="passwordError ? '' : 'hidden'" [style.height]="passwordError ? '' : '1rem'">
        <p *ngIf="registerForm.value.password == ''">
          <i class="fa-solid fa-triangle-exclamation"></i> Please enter a password
        </p>
        <p *ngIf="registerForm.value.password != ''">
          <i class="fa-solid fa-triangle-exclamation"></i> Password must be at least 8 characters long and contain an uppercase letter, a lowercase letter and a number
        </p>
      </div>

      <p class="field-label">Confirm Password</p>
      <input
        type="password"
        formControlName="passwordConfirmation"
        class="input"
        (input)="passwordMatchCheck()"
        (focusout)="passwordMatchCheck()"
      />
      <div class="error" [style.visibility]="passwordMismatch ? '' : 'hidden'">
        <p *ngIf="registerForm.value.passwordConfirmation == ''">
          <i class="fa-solid fa-triangle-exclamation"></i> Please confirm your password
        </p>
        <p *ngIf="registerForm.value.passwordConfirmation != ''">
          <i class="fa-solid fa-triangle-exclamation"></i> Passwords don't match!
        </p>
      </div>

      <p class="field-label">I am a...</p>
      <div class="radio-container">
        <input
          type="radio"
          formControlName="role"
          name="role"
          id="role-student"
          value="student"
          required
        />
        <label for="role-student">Student</label>

        <input
          type="radio"
          formControlName="role"
          name="role"
          id="role-staff"
          value="staff"
        />
        <label for="role-staff">Staff</label>

        <input
          type="radio"
          formControlName="role"
          name="role"
          id="role-professor"
          value="professor"
        />
        <label for="role-professor">Professor</label>
      </div>
      <p class="error" [style.visibility]="hasErrors && registerForm.value.role == '' ? '' : 'hidden'">
        <i class="fa-solid fa-triangle-exclamation"></i> Please select a role
      </p>

      <button
        type="submit"
        class="submit"
        [disabled]="loading"
        matTooltip="registerForm.valid ? 'Submit' : 'Please fill out all fields'"
        >Submit</button>
    </form>
  </div>
</div>
