<div class="login-container">
  <div class="login-box">
    <h2>Register</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <p class="field-label">Name</p>
      <input id="name" type="text" formControlName="name" class="input" />
      <p class="error" [style.visibility]="hasErrors ? '' : 'hidden'">
        <i class="fa-solid fa-triangle-exclamation"></i> Name is required
      </p>

      <p class="field-label">Email</p>
      <input id="email" type="text" formControlName="email" class="input" />
      <p class="error" [style.visibility]="hasErrors ? '' : 'hidden'">
        <i class="fa-solid fa-triangle-exclamation"></i> Email is required
      </p>

      <p class="field-label">Password</p>
      <input
        id="password"
        type="password"
        formControlName="password"
        class="input"
      />
      <p class="error" [style.visibility]="hasErrors ? '' : 'hidden'">
        <i class="fa-solid fa-triangle-exclamation"></i> Password needs xyz
      </p>

      <p class="field-label">Confirm Password</p>
      <input
        id="password_confirmation"
        type="password"
        formControlName="passwordConfirmation"
        class="input"
      />
      <p class="error" [style.visibility]="hasErrors ? '' : 'hidden'">
        <i class="fa-solid fa-triangle-exclamation"></i> Passwords don't match!
      </p>

      <div class="mb-3">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            formControlName="role"
            name="role"
            id="role-student"
            value="student"
            required
          />
          <label class="form-check-label" for="role-student">Student</label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            formControlName="role"
            name="role"
            id="role-staff"
            value="staff"
          />
          <label class="form-check-label" for="role-staff">Staff</label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            formControlName="role"
            name="role"
            id="role-professor"
            value="professor"
          />
          <label class="form-check-label" for="role-professor">Professor</label>
        </div>
      </div>

      <button type="submit" class="submit">Submit</button>
    </form>
  </div>
</div>
